@import './sass/mixins';
@import './sass/variables';
@import './sass/keyframes';

.center {
  @include center;

  width: 100vw;
  height: 100vh;
}

.form-container {
  @include flex(column, nowrap, center, center);

  background: $light-black;
  border-color: $light-black;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 $black;
  gap: 1rem;
  width: 500px;

  @media screen and (max-width: 420px) {
    width: 95%;
  }

  .btn {
    width: 6rem;
  }

  .checkbox-label {
    text-align: left;
    font-size: medium;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;

    .checkbox {
      height: 0;
      width: 0;
    }

    .checkbox + label {
      position: relative;
      display: flex;
      margin: 0.6em 0;
      align-items: center;
      color: $dimmed;
      transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
    }

    .checkbox + label > ins {
      position: absolute;
      display: block;
      bottom: 0;
      left: 2em;
      height: 0;
      width: 100%;
      overflow: hidden;
      text-decoration: none;
      transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
    }

    .checkbox + label > ins > i {
      position: absolute;
      bottom: 0;
      font-style: normal;
      color: $blue;
    }

    .checkbox + label > span {
      @include flex(row, nowrap, center, center);

      margin-right: 1em;
      width: 1em;
      height: 1em;
      background: transparent;
      border: 2px solid $dimmed;
      border-radius: 2px;
      cursor: pointer;
      transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
    }

    .checkbox + label:hover,
    .checkbox:focus + label {
      color: $white;
    }
    .checkbox + label:hover > span,
    .checkbox:focus + label > span {
      background: #ffffff1a;
    }
    .checkbox:checked + label > ins {
      height: 100%;
    }

    .checkbox:checked + label > span {
      border: 0.5em solid $primary;
      animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
    }
    .checkbox:checked + label > span:before {
      content: '';
      position: absolute;
      top: 0.5em;
      left: 0.1em;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(45deg);
      transform-origin: 0% 100%;
      animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1)
        forwards;
    }
  }

  .group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3rem;
  }

  .dimmed {
    color: $dimmed;
    font-size: smaller;
  }

  .dimmed:hover {
    color: $white;
    text-decoration: underline;
  }
}
