@import './sass/keyframes';
@import './sass/variables';

.loader {
  border: 5px solid $white;
  border-top: 5px solid $blue;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}
