.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  width: 100%;
  border-bottom: #2c2c2c solid 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  .navbar {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    .navbar-left {
      flex-grow: 1;
      width: 100%;
    }

    .navbar-middle {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .navbar-right {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }

    .navbar-links {
      display: flex;
    }
  }
}
