$primary: #6419e6;
$secondary: #1fb2a6;
$black: #18181b;
$light-black: #27272a;
$midnight: #0f0f11;
$white: #e5e7eb;
$dimmed: #9ca3af;
$blue: #4fc3f7;
$red: #f87171;
$darker-zinc: #212121;
$zinc: #2c2c2c;
