@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $justify: flex-start,
  $align: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin mxauto {
  margin-left: auto;
  margin-right: auto;
}
