$primary: #6419e6;
$secondary: #1fb2a6;
$black: #18181b;
$light-black: #27272a;
$midnight: #0f0f11;
$white: #e5e7eb;
$dimmed: #9ca3af;
$blue: #4fc3f7;
$red: #f87171;
$darker-zinc: #212121;
$zinc: #2c2c2c;
$divider: #343437;
$font: 'Nunito', 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;

$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;
$xl: 2rem;
$xxl: 3rem;

:export {
  primary: $primary;
  darker-zinc: $darker-zinc;
}
