@import './sass/variables';
@import './sass/mixins';

.navbar-container {
  @include center;

  background: $darker-zinc;
  width: 100%;
  border-bottom: $zinc solid 1px;
  box-shadow: 0 0 10px 0 $black;

  .navbar {
    @include center;

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;

    .navbar-left {
      flex-grow: 1;
      width: 100%;
    }

    .navbar-middle {
      @include center;

      flex-grow: 1;
      width: 100%;
    }

    .navbar-right {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }

    .navbar-links {
      display: flex;
    }
  }
}
