@import 'keyframes';
@import 'variables';

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $justify: flex-start,
  $align: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin mxauto {
  margin-left: auto;
  margin-right: auto;
}

@mixin skeleton {
  background: $white;
  background: linear-gradient(110deg, #eee 8%, #ffffff 18%, #dedede 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
